<!DOCTYPE html>
<html>
  <head>
    <title>foodMi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to("foodMi", {:controller => 'home', :action => 'index'}, id: "logo")%>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to("Home", {:controller => 'home', :action => 'index'}) %></li>
            <li><%= link_to("Profile", {:controller => 'profile', :action => 'index'}) %></li>
            <li><%= link_to("Sign Out", {:controller => 'welcome', :action => 'index'}) %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="center jumbotron">
      <h1>Welcome to foodMi</h1>

      <h2>
        This is the home page.
      </h2>

      <div>
        <%= form_tag("/rand_food", method: "get", :remote => true) do %>
          <%= submit_tag("RANDOMIZE!") %>
          <!-- TODO: selection of one filter should pre-filter choices for other select dropdown -->
          <%= select_tag(:food_origin, options_from_collection_for_select(Food.pluck(:food_origin).uniq, 'strip', 'strip'), {:include_blank => 'Filter food origin'}) %>
          <%= select_tag(:food_type, options_from_collection_for_select(Food.pluck(:food_type).uniq, 'strip', 'strip'), {:include_blank => 'Filter food type'}) %>
        <% end %>  
        <div id = "food_div"></div>
      </div>
    </div>
  </body>
</html>