<!DOCTYPE html>
<html>
  <head>
    <title>feedMi Profile</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to("feedMi", {:controller => 'home', :action => 'index'}, id: "logo")%>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to("Home", {:controller => 'home', :action => 'index'}) %></li>
            <li><%= link_to("Profile", {:controller => 'profile', :action => 'index'}) %></li>
            <li><%= link_to("Sign Out", {:controller => 'welcome', :action => 'index'}) %>
          </ul>
        </nav>
      </div>
    </header>
    <div >

      <%#CURRENT USER info%>
      <h2><%= current_user.user_name %></h2>
      <h2><%= current_user.first_name %></h2>
      <h2><%= current_user.last_name %></h2>
      <h2><%= current_user.email %></h2>
      <h2><%= current_user.password %></h2>
      <h2><%= @weather["name"]%></h2>
      <h2>Current Temperature: <%= @weather["main"]["temp"]%></h2>
      <h2>Min. Temperature: <%= @weather["main"]["temp_min"]%></h2>
      <h2>Max. Temperature: <%= @weather["main"]["temp_max"]%></h2>

    </div>
  </body>
</html>